stages:
  - destroy

image:
  name: hashicorp/terraform:1.10
  entrypoint: [""]

variables:
  AWS_DEFAULT_REGION: "us-east-1"

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "web"
      when: always
    - when: never

before_script:
  - export AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
  - export AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}

destroy-staging:
  stage: destroy
  environment:
    name: staging
    action: stop
  script:
    - "echo STARTING DESTRUCTION"
    - "terraform init"
    - "terraform plan -destroy -var-file=staging.tfvars -out=destroy.plan"
    - "echo Waiting 30 seconds... Cancel now if this is a mistake."
    - "sleep 30"
    - "echo DESTROYING NOW"
    - "terraform apply destroy.plan"
  artifacts:
    paths:
      - destroy.plan
    expire_in: 90 days
  rules:
    - if: $DESTROY_CONFIRMED == "yes"
      when: manual
    - when: never